*.aux
*.log
*.pdf
*.gz
*.bcf
*.bbl
*.blg
*.xml
*.nav
*.out
*.snm
*.toc
*.ods
*.odt
Statistiques/__pycache__/
Statistiques/2nde13.csv
*/*/*.listing
Notes-de-cours/notes.listing
Notes-de-cours/_minted-notes/*
Exercices/Fonctions/serie1/_minted-serie1/*
*.synctex*
*.pyg*
*.vrb
Animations/*
*.svg
*.idx
*.ind
